.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem {
  height: 100px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 25px;
  transition: all 0.4s;
}

.cabecalho-menu-item:hover {
  transform: scale(1.1);
}